<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>Idea Journal</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <header>
      <h1><a href="{{ url_for('index') }}">Idea Journal</a></h1>
      <nav><a href="{{ url_for('add') }}">Add an Idea</a></nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flashes">
        {% for category, msg in messages %}
          <li class="{{ category }}">{{ msg }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
</body>
</html>
